/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
}

img {
  width: 100%;
  height: auto;
  display: none;
}

.active {
  display: block;
}
  

/* 
    DEBUG
*/